@model IEnumerable<Cursos.Models.Entidades.Professor>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerenciar Professores</h1>

<p>
    <a asp-action="Create">Cadastrar Professor</a>
</p>

<table class="table table-striped">
    <thead class="thead-Plum"> 
        <tr>
            <th>
                Nome
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
