@model Cursos.Models.Entidades.Aula

@{
    ViewData["Title"] = "Editar";
}

<section>
    <div>
        <h1 class="text-center">Editar</h1>
        <h4>Aula</h4>
        <hr />
    </div>
    <div class="container">
        <div class="card row">
            <div class="card-body col-10 mx-auto">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group mb-2">
                        <label asp-for="numeroOrdem" class="control-label"></label>
                        <input asp-for="numeroOrdem" class="form-control" />
                        <span asp-validation-for="numeroOrdem" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="titulo" class="control-label"></label>
                        <input asp-for="titulo" class="form-control" />
                        <span asp-validation-for="titulo" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="descricao" class="control-label"></label>
                        <input asp-for="descricao" class="form-control" />
                        <span asp-validation-for="descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="cursoId" class="control-label"></label>
                        <select asp-for="cursoId" class="form-control" asp-items="ViewBag.cursoId"></select>
                        <span asp-validation-for="cursoId" class="text-danger"></span>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="d-grid col-2 ms-auto">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                        <div class="d-grid col-2 me-auto">
                            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
