@model IEnumerable<Cursos.Models.Entidades.PostagemBlog>

@{
    
    ViewData["Title"] = "Blog";
}

<h1>
    BLOG
</h1>

<div id="main-content" class="blog-page">
   
        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card text-center mb-4">
                            <div>
                                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="...">
                            </div>
                            <h3><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
                            <p> @Html.DisplayFor(modelItem => item.conteudo)</p>
                            <div class="footer">
                            <div class="actions">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                            </div>
                            <ul class="stats">
                                <li><a  class="fa fa-heart">28</a></li>
                                <li><a  class="fa fa-comment">128</a></li>
                            </ul>
                        </div>
                        </div>
                        
                    </div>
                </div>
            }
        </div>
