@model IEnumerable<Cursos.Models.Entidades.PostagemBlog>

@{
    
    ViewData["Title"] = "Blog";
}

<h1>
    BLOG
</h1>

<div id="main-content" class="blog-page">

    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-1 g-4">
        @foreach (var item in Model)
        {   <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
            
             <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="Imagem de capa do card">
             <div class="card-body">
              <h3 class="card-title text-center"><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
              <p class="card-text text-center">@Html.DisplayFor(modelItem => item.conteudo)</p>
             </div>
             <ul class="list-group list-group-flush">
              <li class="list-group-item text-center"><a  class="fa fa-heart">28</a></li>
              <li class="list-group-item text-center"><a  class="fa fa-comment">128</a></li>
             </ul>
             <div class="card-body text-center">
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
             </div>
            </div>
           </div>
        }
       
   </div>
   
      
</div>