@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}






<div class="row d-flex justify-content-center">


    <div class="card w-50">
        <article class="card-body">

            <h4 class="card-title mb-4 mt-1">Entrar</h4>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label>Senha</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Salvar
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Entrar</button>
                </div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                </p>
           
            </form>
        </article>
    </div>


</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
