html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    resize: none;
    height: 6rem;
}

.blue1 {
    background-color: #8094F0ff;
}

.blue2 {
    background-color: #8D55FDff;
}

.lavender: {
    background-color: #CFC8DEff;
}

.form-title{
    text-align: center;
}

.professor-card img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.professor-card h5 {
    text-align: center;
}

.professor-card i {
}

.text {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 9.6rem;
    max-height: 9.6rem;
}
