html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

textarea {
    resize: none;
    height: 6rem;
}


/* CSS HEX */
.blue1 {
    background-color: #8094F0ff;
}

.blue2 {
    background-color: #8D55FDff;
}

.lavender: {
    background-color: #CFC8DEff;
}

