@model IEnumerable<Cursos.Models.Entidades.PostagemBlog>

@{

    ViewData["Title"] = "Blog";
}

<div>
    <h1 class="text-center">
    BLOG
    </h1>

</div>


<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            @foreach (var item in Model)
            {

                <div class="col-md-4 col-lg-3 offset-lg-0 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
                    <img class="rounded-circle" src="@item.imagemCapa" width="200" height="200" /></div>
                <div class="col-12 col-md-8 col-lg-7">
                    <h2>@item.tituloPost</h2>
                    <p style="padding-top: 4px;padding-bottom: 4px;">
                       @item.conteudo
                    </p>
                        <a class="d-lg-flex justify-content-lg-end" asp-controller="PostagensBlog" asp-action="Post" asp-route-id="@item.Id"> Leia mais  </a>
                </div>

            }
        </div>
    </div>
</div>