@model IEnumerable<Cursos.Models.Entidades.PostagemBlog>

@{
    
    ViewData["Title"] = "Blog";
}

<h1>
    BLOG
</h1>

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            @foreach (var item in Model)
            {
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="@Html.DisplayFor(modelItem => item.imagemCapa)" alt="First slide">
                            </div>
                            <h3><a href="blog-details.html">@Html.DisplayFor(modelItem => item.tituloPost)</a></h3>
                            <p> @Html.DisplayFor(modelItem => item.conteudo)</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a asp-action="Post" asp-route-id="@item.Id" class="btn btn-outline-secondary">Detalhes</a>
                            </div>
                            <ul class="stats">
                                <li><a  class="fa fa-heart">28</a></li>
                                <li><a  class="fa fa-comment">128</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>